{% extends 'base.html' %}
{%block title%}
Some other page
{% endblock %}
{%block content%}
<div>
    <form action="/send" method="post">
    <input name="name" placeholder="Name"><br>
    <input type="number" min="0" max="120" name="age" placeholder="Age"><br>
    <p>
        Rate our site
        <select name="score">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </p>
    <input type="submit" value="Submit">
</form>
</div>
{% endblock %}
